ul {
  display: flex;
  flex-direction: column-reverse;  
}

ul .item {
    display: flex;
    flex-direction: row; 
    margin: 10px 0px;
}

ul li > p {
    width: 250px;
}

ul .item > button {
    margin-left: 10px;
}